@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    
}

ul{
    list-style: none;
}


:root{
    --btn-color: #1887c9;
    --black: #000;
    --dark-blue: #11608f;
    --light-sky: #b7daee;
    --gray: #cccccc;
    --light-gray: #efefef;
    --white: #ffffff;
    --mid-black: #333333;
    --light-blue: #469fd4;
    --mid-gray: #626d78;

}

html, body{
    background-color: var(--white);
}

/* utility classes start */
.flex{
    display: flex;
    
}
.items-center{
    align-items: center;
}

.btn{
    padding: 0.3rem 0.7rem;
    border-radius: 0.25rem;
    background-color: var(--btn-color);
    color: #fff;
}

.btn-inv{
    color: var(--dark-blue);
    background-color: var(--white);
    border: 3px solid var(--dark-blue);
}

.blue{
    color: var(--dark-blue);
}

.btn:hover{
    background-color: var(--dark-blue);
}

.company-logo-text{
    color: #1887c9;
}


/* utility classes end */
.logo-box{
    
    gap: 1rem;
}
.logo-img{
    height: 4rem;
    width: 4rem;
}


.btn a{
    color: var(--white);
}

.nav-container{
    width: 80%;
    margin: auto;
    border: 1px solid red;
    justify-content: space-between;
    padding: 0.5rem;
}
.nav-container a{
    color: var(--mid-black);
    text-decoration: none;
}


.menu-options{
    gap: 3rem;
    font-size: 1.25rem;
}



.hero{
    margin-left: 8rem;
    display: flex;
    margin-top: 2rem;
}

.hero .left{
width: 50%;

}

.hero-img{
    height: 700px;
}

.hero-btn{
    font-size: 1.3rem;
    padding: 0.8rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
}

.hero-btn-grp{
    gap: 3rem;
}

.hero .left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}

.hero-upper-heading{
    font-size: 2rem;
    letter-spacing: 2px;
    word-spacing: 4px;
}

.hero-lower-heading{
    font-size: 3rem;
    font-weight: 300;
    color: var(--mid-black);
    letter-spacing: 2px;
    word-spacing: 4px;
}





/* clients section start */

.client{
    padding-top: 4rem;
    padding-bottom: 8rem;
    padding-inline: 8rem;
    background-color: lightblue;
    color: var(--black);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.client h1, p{
    text-align: center;
}

.client p{
font-size: 1.125rem;
}


.companies-div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    column-gap: 3rem;
    grid-template-rows: repeat(2, 1fr);
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    background-color: var(--white);
    border: 2px solid var(--gray);
}

.box img{
    height: auto;
}


/* clients section end */


.join-wk{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding-inline: 20rem;
    padding-bottom: 2rem;
    color: var(--white);
    background-color: var(--dark-blue);
}

.join-wk p{
    font-size: 1.2rem;
    text-align: center;
}
.join-btn{
    width: 200px;
    padding: 0.6rem 0.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.join-btn:hover{
    cursor: pointer;
    background-color: var(--light-blue);
}






.footer-div{
    padding-inline: 10rem;
    background-color: var(--light-blue);
    color: var(--white);
}

.footer-div .top-links{
    display: grid;
    grid-template-columns: 1.5fr repeat(4, 1fr) 1.5fr;
    justify-content: center;
    padding-inline: auto;
    border-bottom: 2px solid var(--mid-gray);
    /* margin-bottom: 10rem; */

}

.footer-div .bottom .policy{
    display: flex;
    gap: 1.5rem;
    
}

.footer-div i{
    color: var(--white);
}
.bottom {
    display: flex;
    justify-content: space-between;
}
.footer-div .socials{
    display: flex;
    gap: 2rem;
}





































































/* material icons start */



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}



/* materials icons end */

